$background-color: #eee;

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

@mixin huge-bg {
	background-position: 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin primary-font {
	font-family: 'LetterGothic';
}

@mixin primary-font-bold {
	font-family: 'LetterGothic-Bold';
}

@mixin secondary-font {
	font-family: 'AvrilSans';
}

@font-face {
	font-family:"LetterGothic";
	src: local(':)'), url("../fonts/LetterGothicStd.otf");
}
@font-face {
	font-family:"LetterGothic-Bold";
	src: local(':)'), url("../fonts/LetterGothicStd-Bold.otf");
}
@font-face {
	font-family: "AvrilSans";
	src: local(':)'), url("../fonts/Arvil_Sans.ttf");
}

.row-flex {
	display: flex;
}

body {
	@include primary-font;
	background-color: $background-color;
	color: #fff;
}

.pre-render {
	width: 0;
	height: 0;
	overflow: hidden;
	
}

section {
	box-sizing: border-box;
	padding: 4em 0;

	&.header {
		height: 100vh;
		@include huge-bg;
		background-color: #1A1A1A;

		h1 {
			width: 250px;
			height: 111px;
			margin: 0 auto;
			margin-top: 30vh;
			background-image: url(../images/logo-bloco-white-big.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			text-indent: -5000px;
		}	
		.tagline {
			p {
				font-size: 2.2rem;
				@include primary-font;
				margin-bottom: 3rem;
			}
		}
	}

	&.description {
		@include huge-bg;
		background-image: url(../images/bg-02.jpg);
		padding: 10em 0;

		.description-text {
			margin-top: 5.5rem;
			margin-bottom: 3rem;
		}
		p {
			font-size: 2rem;
			text-align: center;
		}
	}

	&.about-us {
		background-color: $background-color;
		padding: 2em 0;

		h3 {
			padding-bottom: 0.8em;
			border-bottom: 2px solid white;
		}
		.box-peres, .box-vandal {
			padding: 1.5em;
			background-size: cover;
			background-position: 50%;
			box-shadow: inset 0px 0 90px 30px rgba(0,0,0,1)
		}
		.box-peres {
			background-image: url(../images/bg-peres.png);
		}
		.box-vandal {
			background-image: url(../images/bg-vandal.png);
		}
	}

	.logo-small {
		background-image: url(../images/logo-bloco-small.png);
		display: block;
		width: 160px;
		height: 59px;
		background-repeat: no-repeat;
		background-position: 0 50%;
	}

	&.external-area {
		@include huge-bg;
		background-image: url(../images/bg-externa.jpg);
	}

	&.sala-multiuso {
		@include huge-bg;
		background-image: url(../images/bg-multiuso.jpg);
	}

	&.cozinha {
		@include huge-bg;
		background-image: url(../images/bg-cozinha.jpg);
	}

	&.workshop {
		@include huge-bg;
		background-image: url(../images/bg-workshop.jpg);
	}

	&.book {
		background-color: #595959;
		box-shadow: inset 0 -40px 40px -20px rgba(0,0,0,.5);
		text-align: center;
		
		iframe {
			margin: 0 auto;
		}
	}

	&.valores {
		@include huge-bg;
		background-image: url(../images/bg-bloco.jpg);

		.aluguel li {
			list-style: none;
			margin-bottom: 1em;
		}
		span {
			display: inline-block;
			border: 1px solid #ccc;
			background-color: rgba(0,0,0,0.9);
			padding: 3px 8px 1px;
			line-height: 1.3;
		}

		h3 {
			background-color: rgba(0,0,0,0.3);
			width: 100px;
			height: 100px;
			border: 1px solid #fff;
			border-radius: 50%;
			line-height: 105px;
			text-align: center;
			box-shadow: inset 0 0 50px 10px rgba(0,0,0,1);
		}
	}

	&.people-we-love {
		background-color: white;
		h2 {
			color: #101010;
		}
		ul {
			margin-top: 4em;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li {
				opacity: .7;
				transition: 150ms linear opacity;
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	footer {
		text-align: center;
		margin: 10rem 0;
	}
	.credits {
		text-align: center;
	}
}

.buttons-countdown {
	a {
		display: block;
		&.is-active {
			background-color: rgba(255,255,255,0.3);
		}
	}
}

input[type=text], input[type=submit], .button {
	color: white;
	background: transparent;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid white;
	@include placeholder {
		color: white;
	}
	&:focus {
		border-width: 2px;
	}
}
input[type=text] {
	padding: 1.3em 0.8em 1em;
	height: auto;
	&:hover {

	}
}
.button, input[type=submit] {
	font-size: 1.5rem;
	padding: 0.6rem 2rem 0.5rem;
	height: auto;
	border-width: 2px;
	&:active, &:hover, &:focus {
		border: 2px solid white;
		color: white;
		transition: 100ms linear background-color;
	}
	&:hover {
		background-color: rgba(255,255,255,0.1);
	}
	&:active {
		background-color: rgba(255,255,255,0.25);
	}
	& + .button {
		margin-left: 1rem;
	}
}


h1, h2 {
	@include secondary-font;
}
h3 {
	@include primary-font-bold;
}
h1, h2, h3, .tagline p {
	text-transform: uppercase;
}
h1, h2, h3 {
	// text-align: center;
}

.center {
	text-align: center;
}


section.header {
	background-image: url(../images/bg-bloco.jpg);
	@media (min-width: 400px) {

	}
	@media screen and (min-width: 550px){

	}
}

/* Larger than mobile */
@media (min-width: 400px) {
	section.header {
		h1 {
			width: 300px;
		}
		// background-image: url(../images/bg-01-small.jpg);
	}
	section.signup {
		// background-image: url(../images/bg-02-small.jpg);
	}
}

@media screen and (min-width: 550px){
	section.header {
		.tagline {
			height: 300px;
			position: relative;
			p {
				position: absolute;
				bottom: 24px;
				margin-bottom: 0;
				text-align: left;
				font-size: 1.6rem;
				@include primary-font;
			}
		}
	}
	h2 {
    font-size: 6rem;
    letter-spacing: 0.6rem;
	}
	h3 {
		font-size: 1.7rem;
		letter-spacing: 0.1rem;
	}
}

/* Larger than tablet */
@media (min-width: 750px) {

	section.header {

		// background-image: url(../images/bg-01-medium.jpg);
		.tagline {
			height: 460px;
			p {
				font-size: 2.2rem;
				margin-bottom: 2.4rem;
			}
		}
	}
	section.signup {
		// background-image: url(../images/bg-02-medium.jpg);
	}

	.countdown {
		padding: 3rem 0 2.4rem;
		div {
			white-space: nowrap;
			span {
				display: inline-block;
			}
		}
		number, small {
			line-height: 1em;
		}
		number {
			font-size: 16rem;
		}
		small {
			font-size: 7rem;
		}
		&> span {
			display: block;
			text-transform: uppercase;
			font-size: 2rem;
		}
	}

}

/* Larger than desktop */
@media (min-width: 1000px) {

	.countdown {
		padding: 5rem 0 4rem;
		&> span {
			font-size: 2.3rem;
		}
		number, small {
		}
		number {
			font-size: 22.5rem;
		}
		small {
			font-size: 10rem;
		}
	}

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	section.header {
//		background-image: url(../images/bg-01-large.jpg);
	}
	section.signup {
//		background-image: url(../images/bg-02-large.jpg);
	}
}

.column.centered, .columns.centered {
	float: none;
	margin: 0 auto;
}

#form-success {
	display: none;
}

.modal-picture {
	cursor: default;
}