@charset "UTF-8";
@font-face {
  font-family: "LetterGothic";
  src: local(":)"), url("../fonts/LetterGothicStd.otf"); }
@font-face {
  font-family: "LetterGothic-Bold";
  src: local(":)"), url("../fonts/LetterGothicStd-Bold.otf"); }
@font-face {
  font-family: "AvrilSans";
  src: local(":)"), url("../fonts/Arvil_Sans.ttf"); }
.row-flex {
  display: flex; }

body {
  font-family: 'LetterGothic';
  background-color: #eeeeee;
  color: #fff; }

.pre-render {
  width: 0;
  height: 0;
  overflow: hidden; }

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.2em 2em .3em 0;
  transition: 200ms linear all;
  overflow: hidden;
  z-index: 10; }
  #menu.opaque {
    background-color: rgba(0, 0, 0, 0.8); }
    #menu.opaque img {
      top: .9em;
      opacity: 1; }
  #menu img {
    position: absolute;
    left: 1em;
    width: 80px;
    top: 2em;
    opacity: 0;
    transition: 300ms all ease-out; }
  #menu ul {
    text-align: right;
    margin: 0; }
  #menu li {
    display: inline-block; }
    #menu li::after {
      content: '•';
      margin-left: 0.5em;
      opacity: 0.2; }
    #menu li:last-child::after {
      content: ''; }
  #menu a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 2px 0; }
  #menu a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  #menu a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

a {
  color: #7d7d7d;
  text-decoration: none; }

section {
  box-sizing: border-box;
  padding: 4em 0;
  position: relative; }
  section h2 a {
    color: white; }
  section.header {
    height: 100vh;
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1A1A1A; }
    @media (min-width: 1024px) {
      section.header {
        background-attachment: fixed; } }
    section.header h1 {
      width: 250px;
      height: 111px;
      margin: 0 auto;
      margin-top: 30vh;
      background-image: url(../images/logo-bloco-white-big.png);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      text-indent: -5000px;
      position: relative;
      z-index: 1; }
    section.header .tagline p {
      font-size: 2.2rem;
      font-family: 'LetterGothic';
      margin-bottom: 3rem; }
    section.header video {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      height: 100vh;
      object-fit: cover; }
  section.description {
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/bg-bloco.jpg);
    padding: 10em 0; }
    @media (min-width: 1024px) {
      section.description {
        background-attachment: fixed; } }
    section.description .description-text {
      margin-top: 5.5rem;
      margin-bottom: 3rem; }
    section.description p {
      font-size: 2rem;
      text-align: center; }
  section.about-us {
    background-color: #eeeeee;
    padding: 2em 0; }
    section.about-us h3 {
      padding-bottom: 0.8em;
      border-bottom: 2px solid white; }
    section.about-us .box-peres, section.about-us .box-vandal {
      padding: 1.5em;
      background-size: cover;
      background-position: 50%;
      box-shadow: inset 0px 0 90px 30px black; }
    section.about-us .box-peres {
      background-image: url(../images/bg-peres.png); }
    section.about-us .box-vandal {
      background-image: url(../images/bg-vandal.png); }
  section .logo-small {
    display: none;
    background-image: url(../images/logo-bloco-small.png);
    width: 160px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: 0 50%; }
    @media (min-width: 768px) {
      section .logo-small {
        display: block; } }
  section.people-we-love {
    background-color: white; }
    section.people-we-love h2 {
      color: #101010; }
    section.people-we-love ul {
      margin-top: 2em;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      section.people-we-love ul li {
        opacity: .7;
        transition: 150ms linear opacity;
        margin: 1em; }
        section.people-we-love ul li:hover {
          opacity: 1; }
      section.people-we-love ul img {
        width: 90px; }
  section.agenda {
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/bg-03.jpg); }
    @media (min-width: 1024px) {
      section.agenda {
        background-attachment: fixed; } }
    section.agenda ul {
      list-style-type: none; }
    section.agenda li .img-container {
      height: 0;
      padding-bottom: 56%;
      overflow: hidden;
      margin-bottom: 1em; }
    section.agenda li p {
      margin: .5em 0; }
    section.agenda li img {
      width: 100%; }
  section.features {
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/bg-02.jpg); }
    @media (min-width: 1024px) {
      section.features {
        background-attachment: fixed; } }
    section.features .stacked-gallery {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch; }
      section.features .stacked-gallery li {
        width: 30%;
        flex-grow: 1;
        margin: 0.2em; }
        section.features .stacked-gallery li img {
          object-fit: cover; }
      section.features .stacked-gallery li:first-child {
        flex-grow: 4; }
    section.features .gallery {
      display: block;
      height: 0;
      padding-bottom: 56.33%;
      cursor: pointer;
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
      border-radius: 4px;
      overflow: hidden;
      position: relative; }
    section.features .gallery-inner {
      position: absolute;
      top: 0px;
      -webkit-transition: 200ms ease-out all;
      -moz-transition: 200ms ease-out all;
      transition: 200ms ease-out all;
      left: 0;
      transition: 200ms linear all; }
    section.features img {
      display: block; }
    section.features .row:first-child {
      margin-bottom: 3rem; }
    section.features h4 {
      margin: 0.4em 0 0.1em; }
    section.features p {
      line-height: 1.3em;
      font-size: 0.9em; }
    section.features li {
      margin-bottom: 0; }
  section.localizacao {
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (min-width: 1024px) {
      section.localizacao {
        background-attachment: fixed; } }
    section.localizacao iframe {
      width: 100%; }
  section.contato {
    background-color: #fff;
    background-position: 50%;
    /*background-attachment: fixed;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/bg-03.jpg); }
    @media (min-width: 1024px) {
      section.contato {
        background-attachment: fixed; } }
  section footer {
    text-align: center;
    margin: 10rem 0; }
  section .credits {
    text-align: center; }

input[type=text], input[type=submit], .button {
  color: white;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid white; }
  input[type=text]::-webkit-input-placeholder, input[type=submit]::-webkit-input-placeholder, .button::-webkit-input-placeholder {
    color: white; }
  input[type=text]:-moz-placeholder, input[type=submit]:-moz-placeholder, .button:-moz-placeholder {
    color: white; }
  input[type=text]::-moz-placeholder, input[type=submit]::-moz-placeholder, .button::-moz-placeholder {
    color: white; }
  input[type=text]:-ms-input-placeholder, input[type=submit]:-ms-input-placeholder, .button:-ms-input-placeholder {
    color: white; }
  input[type=text]:focus, input[type=submit]:focus, .button:focus {
    border-width: 2px; }

input[type=text] {
  padding: 1.3em 0.8em 1em;
  height: auto; }

.button, input[type=submit] {
  font-size: 1.5rem;
  padding: 0.6rem 2rem 0.5rem;
  height: auto;
  border-width: 2px; }
  .button:active, .button:hover, .button:focus, input[type=submit]:active, input[type=submit]:hover, input[type=submit]:focus {
    border: 2px solid white;
    color: white;
    transition: 100ms linear background-color; }
  .button:hover, input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .button:active, input[type=submit]:active {
    background-color: rgba(255, 255, 255, 0.25); }
  .button + .button, input[type=submit] + .button {
    margin-left: 1rem; }

h1, h2 {
  font-family: 'AvrilSans'; }

h3 {
  font-family: 'LetterGothic-Bold'; }

h1, h2, h3, .tagline p {
  text-transform: uppercase; }

.center {
  text-align: center; }

section.header, section.localizacao {
  background-image: url(../images/bg-bloco.jpg); }

/* Larger than mobile */
@media (min-width: 400px) {
  section.header h1 {
    width: 300px; } }
@media screen and (min-width: 550px) {
  section.header .tagline {
    height: 300px;
    position: relative; }
    section.header .tagline p {
      position: absolute;
      bottom: 24px;
      margin-bottom: 0;
      text-align: left;
      font-size: 1.6rem;
      font-family: 'LetterGothic'; }

  h2 {
    font-size: 6rem;
    letter-spacing: 0.6rem; }

  h3 {
    letter-spacing: 0.1rem; } }
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
.column.centered, .columns.centered {
  float: none;
  margin: 0 auto; }

#form-success {
  display: none; }

.modal-picture {
  cursor: default; }
